@import '../node_modules/normalize.css/normalize';

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts'; 
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';

$foreground: #FFF;
$line: #913;
$contact: #999;

$gitlab: #E24329;
$twitter: #1DA1F2;
$email: rebeccapurple;

%flex-row {
   display: flex;
   justify-content: center;
   align-items: center;
}

%flex-column {
   @extend %flex-row;
   flex-direction: column;
}

body {
   @extend %flex-column;
   font-size: 1vw;
   color: $foreground;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   transition: opacity 2s;

   .line {
      margin: 1vw;
      border-top: 1px solid $line;
      width: 20vw;
   }

   .name {
      font: 6em 'Lobster', cursive;
   }

   .about {
      font: italic 1em 'Raleway', sans-serif;
      text-align: center;
   }

   .contact {
      @extend %flex-row;
      font: 2em 'Raleway', sans-serif;

      a {
         @extend %flex-column;
         margin: 1vw;
         color: inherit;
         text-decoration: none;

         .fas, .fab {
            color: $contact;
            transition: color 0.5s;
         }

         .text {
            writing-mode: vertical-lr;
            height: 0;
            opacity: 0;
            transition: transform 0.5s, opacity 0.5s;
         }

         @mixin hover {
            .fa-gitlab {color: $gitlab}
            .fa-twitter {color: $twitter}
            .fa-envelope {color: $email}
         
            .text {
               transform: translateY(1vw);
               opacity: 1;
            }
         }

         &:hover {@include hover}
         @media (hover: none), (pointer: coarse) {@include hover}
      }
   }
}

@media (orientation: portrait) {
   body {
      font-size: 3vw;

      .line {
         width: 60vw;
      }

      .name {
         margin: 3vw;
      }

      .about {
         margin: 3vw;
      }

      .contact {
         margin: 3vw;

         a {
            margin: 3vw;

            @mixin hover {
               .text {
                  transform: translateY(3vw);
               }
            }

            &:hover {@include hover}
            @media (hover: none), (pointer: coarse) {@include hover}
         }
      }
   }
}

// TODO: fix mobile look (too bottom heavy and sideways text)